[tool.poetry]
name = "pipen-verbose"
version = "0.0.0"
description = "Add verbosal information in logs for pipen."
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/pipen-verbose"
repository = "https://github.com/pwwang/pipen-verbose"

[tool.poetry.dependencies]
python = "^3.7"
pipen = "*"
xqute = "*"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.plugins.pipen]
verbose = "pipen_verbose:PipenVerbose"
